@font-face {
    font-family: 'HKGrotesk';
    font-weight: normal;
    font-style: normal;
    src: url('/fonts/HKGrotesk-Regular.woff') format('woff');
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    background-color: #222;
    color: #fff;
    font-size: 1.2rem;
    font-family: 'HKGrotesk', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.parent {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    padding: 0 0 30px 30px;
    max-width: 615px;
    z-index: 1;
}

@media only screen and (max-height: 600px) {
    main {
        width: 49%;
        padding-bottom: 10px;
        padding-left: 20px;
    }
}

@media only screen and (max-width: 600px) {
    main {
        width: 90%;
        padding-left: 5px;
    }
}

a {
    color: #FFFAFA;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    border-bottom: 1px solid #FFFAFA;
    text-decoration: none;
}

a:hover {
    color: #4788f2;
    border-bottom: 1px solid #4788f2;
}

svg {
    min-width: 100vw;
    min-height: 100vh;
    flex: none;
}

.svg {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.st0{fill:none;stroke:#333;stroke-miterlimit:10;}
.st1{fill:none;stroke:#a7a7a7;stroke-linecap:round;stroke-miterlimit:10;}

/* Portrait */
@media screen and (orientation:portrait) {
    /* Portrait styles */
    svg {
        height: 130vh;
    }
}
/* Landscape */
@media screen and (orientation:landscape) {
    /* Landscape styles */
    svg {
        width: 130vw;
    }
}
