@charset "UTF-8";
:root {
    /* color defaults */
    --light-primary-color: #48d597;
    --light-font-color: #F2F2F2;
    --light-svg-color: #d5d5d5;
    --light-bg-color: #222222;

    --dark-primary-color: #1D916F;
    --dark-font-color: #222;
    --dark-svg-color: #393939;
    --dark-bg-color: #F2F2F2;

    --primary-color: var(--light-primary-color);
    --font-color: var(--light-font-color);
    --svg-color: var(--light-svg-color);
    --bg-color: var(--light-bg-color);

    /* typeface defaults */
    --title-font-size: 7vw;
    --title-min-font-size: 42px;
    --title-max-font-size: 72px;
    --base-font-size: 1.2rem;
    --base-font-line-height: 26px;
    --mobile-base-font-size: 1.0rem;
    --mobile-base-font-line-height: 22px;
    --small-font-size: 0.7em;
    --small-font-line-height: 14px;
    /* animations */
    --move-in-offset: 20px;
    --move-in-animation: 1s both move-in;
    --move-in-base-delay: 80ms;
    /* spacing */
    --small-space: 1em;
    --large-space: 2em;
    --text-block-spacing: 0.5em;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: var(--dark-primary-color);
    --font-color: var(--dark-font-color);
    --svg-color: var(--dark-svg-color);
    --bg-color: var(--dark-bg-color);
  }
}

[data-theme="dark"] {
    --primary-color: var(--dark-primary-color);
    --font-color: var(--dark-font-color);
    --svg-color: var(--dark-svg-color);
    --bg-color: var(--dark-bg-color);
}

[data-theme="light"] {
    --primary-color: var(--light-primary-color);
    --font-color: var(--light-font-color);
    --svg-color: var(--light-svg-color);
    --bg-color: var(--light-bg-color);
}

@keyframes move-in {
  from {
    transform: translateY(var(--move-in-offset));
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

html {
    font-family: "HK Grotesk","HK Grotesk Legacy","Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-color);
    color:var(--font-color);
    font-size: var(--base-font-size);
    line-height: var(--base-font-line-height);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    transition: background-color var(--move-in-base-delay) ease-in;
    position: relative;
}

.parent {
    min-height: 460px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 2rem 1rem;
}

main,
#theme-toggle-container,
footer {
    max-width: 600px;
    width: 100%;
    padding: 0 4rem;
    z-index: 1;
    background-color: var(--bg-color);
}

main {
    padding-top: 2rem;
}

#LogoType {
    fill: var(--font-color);
}

footer {
    padding-bottom: 2rem;
    font-size: var(--small-font-size);
}

p,
h1,
h3 {
    margin: 0;
    padding: var(--text-block-spacing) 0;
}

main h1 {
    font-size: var(--title-font-size);
    letter-spacing: -0.05em;
    font-weight: 800;
    animation: var(--move-in-animation);
    animation-delay: calc(var(--move-in-base-delay) * 4);
    text-transform: uppercase;
    margin: 0;
    line-height: 0.9;
    padding-top: 0;
}

@media screen and (min-width: 1280px) {
    main h1 {
       font-size: var(--title-max-font-size);
    }
}

@media only screen and (max-height: 600px) {
    main,
    #theme-toggle-container,
    footer {
        width: 49%;
    }
}

@media only screen and (max-width: 600px) {
    main,
    #theme-toggle-container,
    footer {
        width: 90%;
    }
    .logo-link {
        width: 4rem;
        height: 4rem;
    }
    body {
        font-size: var(--mobile-base-font-size);
        line-height: var(--mobile-base-font-line-height);
    }
    main h1 {
       font-size: var(--title-min-font-size);
    }
}

main h3 {
    font-size: 0.75em;
    margin: 2em 0 0.5em 0;
    padding: 0 0 0 3em;
    position: relative;
    color: var(--primary-color);
    animation: var(--move-in-animation);
    animation-delay: calc(var(--move-in-base-delay) * 4);
}

main h3::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 2.25em;
    left: 0;
    top: calc(50% - 1px);
    background: currentColor;
}

logo,
main p,
footer p {
    animation: var(--move-in-animation);
}

main p:nth-of-type(1) {
    animation-delay: calc(var(--move-in-base-delay) * 5);
}

main p:nth-of-type(2) {
    animation-delay: calc(var(--move-in-base-delay) * 6);
}

main p:nth-child(2) {
    animation-delay: calc(var(--move-in-base-delay) * 6);
}

footer p:nth-of-type(1) {
    animation-delay: calc(var(--move-in-base-delay) * 10);
}

main p:nth-of-type(3) {
    animation-delay: calc(var(--move-in-base-delay) * 7);
}

main p:nth-child(4) {
    animation-delay: calc(var(--move-in-base-delay) * 8);
}

a {
    color: var(--primary-color);
    -webkit-transition: all var(--move-in-base-delay) ease-in;
    -moz-transition: all var(--move-in-base-delay) ease-in;
    -ms-transition: all var(--move-in-base-delay) ease-in;
    -o-transition: all var(--move-in-base-delay) ease-in;
    transition: all var(--move-in-base-delay) ease-in;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

a:hover {
    color: var(--font-color);
    border-bottom: 1px solid var(--primary-color);
}

/* Toggle Styles */
.theme-toggle {
  margin-top: 20px;
  margin-bottom: 10px;
  animation: var(--move-in-animation);
  animation-delay: calc(var(--move-in-base-delay) * 6);
  display: inline-block;
  height: 24px;
  position: relative;
  width: 44px;
}

.theme-toggle input {
  display:none;
}

.slider {
  border: 1px solid var(--font-color);
  background: var(--font-color);
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 80ms;
  border-radius: 30px;
}

.slider:before {
  background-color: var(--bg-color);
  content: "";
  position: absolute;
  left: 3px;
  bottom: 3px;
  height: 16px;
  width: 16px;
  transition: 100ms;
  border-radius: 50%;
}

input:checked + .slider {
  border-color: var(--font-color);
}

input:checked + .slider:before {
  transform: translateX(19px);
}

.circuit-svg {
  height: 100%;
  min-height: 640px;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #424242;
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(34, 34, 34, 1) 0%, rgba(0, 0, 0, 0) 50%);
  opacity: 0.25;
}

/* Circles */

.circles {
    animation: drawCircle 0.8s 2s both;
}

.st1 {
    transition: stroke 180ms ease-in;
}

@keyframes drawCircle {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/* Lines */

.st0 {
    animation: drawLine 6s 10s ease-out both;
    -webkit-animation: drawLine 6s 10s ease-out forwards;
    transition: stroke 900ms ease-in;
}

@keyframes drawLine {
  to {
    stroke-dashoffset: 0;
  }
}

/*
 * Safari Version 13.0.3 also seems to require the from keyword in order to
 * properly render the transition, similar to the chrome and firefox renditions.
 */

@-webkit-keyframes drawLine {
  from {
    stroke-dashoffset: 20%;
  }
}
