@charset "UTF-8";
:root {
    /* color defaults */
    --primary-color: #48d597;
    --font-color: #333333;
    --svg-color: #d5d5d5;
    --bg-color: #ffffff;
    /* typeface defaults */
    --title-font-size: 1.8rem;
    --base-font-size: 1.2rem;
    --base-font-line-height: 28px;
    --small-font-size: 12px;
    --small-font-line-height: 14px;
    /* animations */
    --move-in-offset: 20px;
    --move-in-animation: 1s both move-in;
    --move-in-base-delay: 80ms;
    /* spacing */
    --small-space: 1em;
    --large-space: 2em;
    --text-block-spacing: 0.5em;
}

@keyframes move-in {
  from {
    transform: translateY(var(--move-in-offset));
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@import url('https://rsms.me/inter/inter.css');
html {
    font-family: 'Inter', sans-serif;
}

/* @supports (font-variation-settings: normal) {
    html {
      font-family: 'Inter var', sans-serif;
    }
} */

html, body {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--bg-color);
    color:var(--font-color);
    font-size: var(--base-font-size);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.parent {
    width: 100vw;
    height: 360px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

logo,
main,
footer {
    max-width: 500px;
    width: 100%;
    padding: 0 2rem;
    z-index: 1;
}

logo {
    padding-top: 1rem;
}

.logo-link {
    display: block;
    width: 4rem;
    height: 4rem;
    margin: auto;
}

.logo img {
    height: 100%;
    width: 100%;
}

footer {
    font-size: 1rem;
    text-align: center;
}

@media only screen and (max-height: 600px) {
    logo,
    main,
    footer {
        width: 49%;
        padding-bottom: 10px;
        padding-left: 20px;
    }
}

@media only screen and (max-width: 600px) {
    logo,
    main,
    footer {
        width: 90%;
        padding: 5px;
    }
}

p,
h1 {
    margin: 0;
    padding: var(--text-block-spacing) 0;
}

main h1 {
    text-align: center;
    color: #fff;
    font-size: var(--title-font-size);
    font-weight: bold;
    animation: var(--move-in-animation);
    animation-delay: calc(var(--move-in-base-delay) * 4);
}

logo,
main p,
footer p {
    animation: var(--move-in-animation);
}

main p:nth-of-type(1) {
    animation-delay: calc(var(--move-in-base-delay) * 5);
}

main p:nth-child(2) {
    animation-delay: calc(var(--move-in-base-delay) * 6);
}

footer p:nth-of-type(1) {
    animation-delay: calc(var(--move-in-base-delay) * 10);
}

/* main p:nth-of-type(3) {
    animation-delay: calc(var(--move-in-base-delay) * 7);
}

main p:nth-child(4) {
    animation-delay: calc(var(--move-in-base-delay) * 8);
} */

a {
    color: var(--primary-color);
    -webkit-transition: all var(--move-in-base-delay) ease-in;
    -moz-transition: all var(--move-in-base-delay) ease-in;
    -ms-transition: all var(--move-in-base-delay) ease-in;
    -o-transition: all var(--move-in-base-delay) ease-in;
    transition: all var(--move-in-base-delay) ease-in;
    text-decoration: none;
}

a:hover {
    color: var(--font-color);
    border-bottom: 1px solid var(--primary-color);
}

svg {
    min-width: 100vw;
    min-height: 100vh;
    flex: none;
}

.svg {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--font-color);
}

/* Lines */
.st0{
    fill:none;
    stroke:var(--svg-color);
    stroke-miterlimit:10;
    stroke-miterlimit:10;
    stroke-dasharray: var(--length);
    stroke-dashoffset: var(--length);
    animation: drawLine 1s 1000ms ease-out both;
}

@keyframes drawLine {
    to {
        stroke-dashoffset: 0;
    }
}

/* Circles */
.st1{
    fill:none;
    stroke: var(--font-color);
    stroke-linecap:round;
    animation: drawCircle 1s 800ms both;
}

@keyframes drawCircle {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

/* Portrait */
@media screen and (orientation:portrait) {
    /* Portrait styles */
    svg {
        height: 130vh;
    }
}
/* Landscape */
@media screen and (orientation:landscape) {
    /* Landscape styles */
    svg {
        width: 130vw;
    }
}

@media only screen and (max-width: 1024px) and (orientation:landscape) {
    svg {
        width: 200vw;
    }
}
