@import "variables.css";

@font-face {
    font-family: 'HKGrotesk';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/HKGrotesk-Regular.woff') format('woff');
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--html-body-darker-bg-color);
    color: var(--body-bg-color);
    font-size: var(--font-size);
    font-family: var(--font-family);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.parent {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    padding: 0 0 30px 30px;
    max-width: 615px;
    z-index: 1;
}

@media only screen and (max-height: 600px) {
    main {
        width: 49%;
        padding-bottom: 10px;
        padding-left: 20px;
    }
}

@media only screen and (max-width: 600px) {
    main {
        width: 90%;
        padding-left: 5px;
    }
}

a {
    color: var(--link-color);
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    border-bottom: 1px solid var(--link-border-bottom-color);
    border-bottom: 1px solid var(--link-border-bottom-color);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover-color);
    border-bottom: 1px solid var(--link-hover-border-bottom-color);
}

a:focus {
    color: var(--link-hover-color);
    border-bottom: 1px solid var(--link-hover-border-bottom-color);
}

svg {
    min-width: 100vw;
    min-height: 100vh;
    flex: none;
}

.svg {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    left: 0;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Lines */
.st0 {
    fill: none;
    stroke: var(--stroke-darker-color);
    stroke-miterlimit: 10;
    stroke-miterlimit: 10;
    stroke-dasharray: var(--length);
    stroke-dashoffset: var(--length);
    animation: drawLine 1s 750ms ease-out both;
}

@keyframes drawLine {
    to {
        stroke-dashoffset: 0;
    }
}

/* Circles */
.st1 {
    fill: none;
    stroke: var(--stroke-light-color);
    stroke-linecap: round;
    animation: drawCircle 1s 200ms both;
}

@keyframes drawCircle {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Portrait */
@media screen and (orientation: portrait) {
    /* Portrait styles */
    svg {
        height: var(--portrait-height);
    }
}

/* Landscape */
@media screen and (orientation: landscape) {
    /* Landscape styles */
    svg {
        width: var(--portrait-width);
    }
}