body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.row-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background-color: #222200;
  overflow: hidden;
}

.second-row {
  flex-grow: 1;
  border: none;
  margin: 0;
  padding: 0;
}

.history__controller > button {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0.2rem;
  border: 1px solid transparent;
  color: #bbb;
  cursor: pointer;
  display: inline-block;
  padding: 0.25em 0.75em;
  position: relative;
  transition: all 0.3s ease;
  transform: translateY(0);
}

.history__controller > button > span {
  outline: none;
  padding: 4px 9px;
  margin: -4px -9px;
}

.history__controller > button:hover {
  border-color: rgba(255, 255, 255, 0.1);
  box-shadow: 2px 3px #000;
  transform: translateY(-1px);
}

.history__controller > button:active {
  box-shadow: none;
  transform: translateY(0);
}
