* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #F2F2F2;
}

a svg {
 fill: #48d597;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 1rem;
}

/* utils  */

.-text--fade {
  opacity: 0.4;
}

.container {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

.display-wrapper {
  flex: 5;
  border: none;
}

.history {
  position: relative;
  flex: 0 1 auto;
  padding: 2rem;
  background: rgba(18, 18, 18, 1);
  color: #bbb;
  border-left: 1px solid rgba(255, 255, 255, 0.12);
  overflow: hidden;
}

.history__controller {
  position: relative;
  margin-bottom: 0.5rem;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}

.history__controller > button {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0.2rem;
  border: 1px solid transparent;
  color: #bbb;
  cursor: pointer;
  display: inline-block;
  padding: 0.25em 0.75em;
  position: relative;
  transition: all 0.3s ease;
  transform: translateY(0);
}

.history__controller > button > span {
  outline: none;
  padding: 4px 9px;
  margin: -4px -9px;
}

.history__controller > button:hover {
  border-color: rgba(255, 255, 255, 0.1);
  box-shadow: 2px 3px #000;
}

.history__controller > button:active {
  box-shadow: none;
}

.history__exit {
  position: absolute;
  font-size: 1rem;
  top: 1rem;
  right: 1rem;
}

.pr__title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.pr__title {
  font-size: 1.5rem;
}

.pr__people-wrapper {
  position: relative;
  padding: 0.5rem 0;
}

.pr__people {
  position: relative;
  display: block;
  margin-bottom: 0.5rem;
}

.pr__avatar {
  position: relative;
  width: 2rem;
  height: 2rem;
  border-radius: 0.25rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  overflow: hidden;
}

.pr__people > * {
  display: inline-block;
  vertical-align: middle;
}

.pr__mergedAt {
  font-size: 0.9rem;
  opacity: 0.5;
}

@media screen and (min-width: 60rem) {
  .container {
    flex-direction: row;
  }

  .history {
    flex: 1 1 10rem;
  }
}