<footer class="footer">
    <div class="container">
        <div>
            <small class="text-muted pull-left">&copy; {{.Site.Title}} {{ now.Format "2006" }}</small>
            <div class="icons text-right">
                <a class="icon" href="{{ .Site.Params.github_url }}">
                    <i class="fab fa-github"></i>
                </a>
                <a class="icon" href="https://twitter.com/{{ .Site.Params.twitter_handle }}">
                    <i class="fab fa-twitter"></i>
                </a>
                <a class="icon" href="/post/index.xml">
                    <i class="fa fa-rss"></i>
                </a>
            </div>
        </div>
    </div>
</footer>
</div>
