{{ partial "header.html" . }}

<div class="parent">
	<main>
		<h1>{{.Site.Title}}</h1>
		<p class="lead">{{.Site.Params.Description}}</p>
        <p>We are looking for designers who code to help build a new user experience for computing!</p>
        <p>Interested? Send a PR with any improvement to <a href="https://github.com/oxidecomputer/design.oxide.computer" target="_blank"><strong>this repo on GitHub</strong></a> or <a href="https://oxide.computer/careers" target="_blank"><strong>apply through our careers page</strong></a>.
	</main>
</div>

{{ partial "footer.html" . }}
