<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ .Site.Params.description }}">

    <title>{{ .Site.Title }}: Design</title>

    <link rel="canonical" href="{{ .Permalink }}">

    <!-- twitter card meta tags -->
    <meta property="twitter:account_id" content="285428413" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@{{ .Site.Params.twitter_handle }}">
    <meta name="twitter:creator" content="@{{ .Site.Params.twitter_handle }}">
    <meta name="twitter:title" content="{{ .Site.Title }}: Design">
    <meta name="twitter:description" content="{{ .Site.Params.description }}">
    <meta name="twitter:image" content="{{ .Site.BaseURL }}/images/logo.jpg">
    <meta name="twitter:domain" content="{{ .Site.Title }}">

    <!-- facebook open graph tags -->
    <meta property="og:title" content="{{ .Title }}: Design" />
    <meta property="og:Section" content="website" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:site_name" content="{{ .Site.Title }}" />
    <meta property="fb:admins" content="1018260045" />
    <meta property="og:description" content="{{ .Site.Params.description }}" />

    <link rel="shortcut icon" href="/favicon.ico">

    <link rel="stylesheet" href="/css/HKGrotesk.css" />
    <link rel="stylesheet" href="/css/custom.css" />
    <script src="/js/lib/modernizr-2.6.2.min.js"></script>
</head>

<body>
    <div class="circuit-svg">{{ partial "circuits.svg" . }}</div>
    <div class="parent">
        <main>
            <div class="logo-link" title="Oxide Computer Company Website">
                <div class="logo" role="img" aria-label="Oxide Computer Company logo">
                    <a href="https://oxide.computer/" target="_blank">
                        {{ partial "logo.svg" . }}
                    </a>
                </div>
            </div>
            <h3>{{.Site.Title}}</h3>
            <h1>{{.Site.Params.Headline}}</h1>
            <p class="lead">{{.Site.Params.Description}}</p>
            <p>
                <span>Interested and align with our <a href="https://oxide.computer/about/">principles of operation</a>?</span>
                <span>
                    Send a PR with any improvement to <a href="https://github.com/oxidecomputer/design.oxide.computer" target="_blank" rel="noreferrer noopener">this repo on GitHub</a> or <a href="https://oxide.computer/careers/product-engineering/" target="_blank">apply through our careers page</a>.
                </span>
            </p>
        </main>
        <section id="theme-toggle-container">
            <label class="theme-toggle" for="checkbox" aria-label="Switch the theme">
                <input type="checkbox" id="checkbox" />
                <div class="slider"></div>
            </label>
        </section>
        <footer>
            {{ $contribsJ := getJSON "https://api.github.com/repos/oxidecomputer/design.oxide.computer/stats/contributors" }}
            <p class="footer-piece footer-piece--separate">
                Created by
                <a href="https://github.com/oxidecomputer/design.oxide.computer/graphs/contributors" target="_blank"
                    rel="noreferrer"
                    title="Contributors to the GitHub repository design.oxide.computer by the oxidecomputer organization">{{ len $contribsJ }} contributors</a>
                on
                <a href="https://github.com/oxidecomputer/design.oxide.computer/" target="_blank" rel="noreferrer"
                    title="GitHub repository design.oxide.computer by the oxidecomputer organization">GitHub</a>.
                    You can see previous versions of this page via <a href="/timetravel">TimeTravel</a>.
                <div id="contributors">
                {{ range sort $contribsJ ".total" "desc" }}
                <a href="{{.author.html_url}}"><img src="{{.author.avatar_url}}" class="avatar" alt="{{.author.login}}" width="38" height="38"></a>
                {{ end }}
                </div>
            </p>
        </footer>
    </div>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{.Site.Params.google_analytics}}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', '{{.Site.Params.google_analytics}}');
    </script>
    <script src="/js/custom.js"></script>
</body>

</html>
